* {
    font-family: sans-serif;
    word-break: break-word;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 700px;
}

table {
    border-spacing: 30px 10px;
}

code {font-family: monospace;}
